@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes marquee {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100%, 0);
  }
}

.marquee {
  overflow: hidden;
  width: 100vh;

  pointer-events: none;

  transform-origin: 0 0;
  transform: translate(0, 0) rotate(90deg);

  position: absolute;
  top: 0;
  left: 100vw;

  animation: fade-in 5s 2s both;
}

.marquee-inner {
  display: flex;
  width: 400vh;
}

.title {
  transform-origin: 0 100%;
  animation: marquee 60s linear infinite;
}
